@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
	font: 15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #111;
}

h1, h2, h3, h4, h5, h6 {
	color: 222;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 22px;
}

.container {
	width: 800px;
	margin: 0 auto;
}
.container header {
	width: 200px;
	float: left;
}
.container .content {
	width: 600px;
	float: left;
	margin-top: 15px;
}